* {
    box-sizing: border-box;
}

html {
    font-family: $proxima;
    font-size: 62.5%;
    color: palette(black, 80);
}

body {
    // set fontsize
    line-height: 1.32;
}

img {
    max-width: 100%;
    height: auto;
}

