* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(black, 0);
}

html {
    font-family: $circular;
    font-size: 62.5%;
    color: palette(black, 80);
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.32;
}

img {
    max-width: 100%;
    height: auto;
}

// Stolen with pride from bootstrap
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
