// For setting font-size and line-height on elements defined by variabels, including media queries
// e.g. @include u-text(h1);

@mixin u-text($key) {

    // Loop through text map and set font-size and line-height for each media query
    @if map-has-key($text, $key) {
        $map: map-get($text, $key);

        @each $media, $style in $map {
            @include media($media) {
                @if map-has-key($style, font-size) {
                    $font-size: map-get($style, font-size);
                    font-size: $font-size;
                }

                @if map-has-key($style, line-height) {
                    $line-height: map-get($style, line-height);
                    line-height: $line-height;
                }
            }
        }
    }

    @if ($key == h1 or $key == h2 or $key == h3 or $key == h4 or $key == h5 or $key == h6) {
        font-family: $heading-font;
        font-weight: $bold;
        font-style: normal;
    }
    @elseif $key == label {
        letter-spacing: .8px;
        text-transform: uppercase;
        color: rgba(black, .7);
    }
    @elseif $key == brand or $key == navigation {
        font-family: $heading-font;
        font-weight: $bold;
    }
    @elseif $key == caption {
        color: $gray-50;
    }
    @elseif $key == popup-title {
        font-family: $heading-font;
        color: $heading-color;
    }
    @elseif $key == link or $key == link-small {
        color: $link-color;

        &:hover {
            text-decoration: underline;
        }
    }
}