$paths: (
    img: '../assets/images',
    fonts: '../assets/fonts'
);

$gutter: 24px;
$gutterMobile: 16px; // Used for media query below md

// Grid and site widths
$maxwidths: (
    sm: 480px,
    md: 768px,
    ml: 960px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1440px,
    content: 816px,
    text: 520px,
    productForm: 808px,
    site: 1440px
);

$breakpoints: (
    xs: 360px, // S Mobile
    sm: 480px, // (not used)
    md: 768px, // M Tablet
    ml: 1024px, // M Tablet landscape (not used)
    lg: 1280px, // L Desktop
    xl: 1440px, // XL Desktop Large
    xxl: 1680px, // XXL Desktop Large (not used)
    mobile-menu: 1024px, // For media queries specifically related to mobile menu
);

$gutters: (
    default: 0,
    sm: 10px,
    md: 20px,
    lg: 30px,
    xl: 40px
);

$palettes: (
    red: (
        default: #ff0000,
        50: lighten(#ff0000, 50%)
    ),
    black: (
        default: #000,
        80: #333,
        trans: rgba(0,0,0,0.72)
    ),
    white: (
        default: #ffffff,
        94: darken(#ffffff, 26%)
    ),
    blue: (
        default: #0000ff,
        50: darken(#0000ff, 50%)
    ),
    purple: (
        default: #ff69b4,
        50: darken(#ff69b4, 20%)
    ),
    bg: (
        default: #FAF8F6,
        20: #f7f7f4
    )
);

$circular: 'CircularStd', sans-serif;
$heading: $circular;
$proxima: "proxima-nova", sans-serif;


// Z-index
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;

$z-index--header: $z-index-2;

// Use fluid font-sizes for headings
$text: (
    hero: (
        d: (font-size: 4rem, line-height: 1.2),
        sm: (font-size: calc(40px + (60 - 40) * (100vw - 480px)/ (1440 - 480))),
        xl: (font-size: 6rem),
    ),
    h1: (
        d: (font-size: 3rem, line-height: 1.33),
        sm: (font-size: calc(30px + (48 - 30) * (100vw - 480px)/ (1440 - 480))),
        xl: (font-size: 4.8rem,  line-height: 1.17),
    ),
    h2: (
        d: (font-size: 2.4rem, line-height: 1.33),
        sm: (font-size: calc(24px + (36 - 24) * (100vw - 480px)/ (1440 - 480))),
        xl: (font-size: 3.6rem, line-height: 1.1),
    ),
    h3: (
        d: (font-size: 2rem, line-height: 1.33),
        sm: (font-size: calc(20px + (24 - 20) * (100vw - 480px)/ (1440 - 480))),
        xl: (font-size: 2.4rem),
    ),
    h4: (
        d: (font-size: 1.8rem, line-height: 1.33)
    ),
    large: (
        d: (font-size: 1.8rem, line-height: 2)
    ),
    small: (
        d: (font-size: 1.3rem, line-height: 1.54)
    ),
    meta: (
        d: (font-size: 10, line-height: 1.6)
    ),
    quote: (
        d: (font-size: 24, line-height: 1.33)
    ),
    preamble: (
        d: (font-size: 1.6rem, line-height: 1.625),
        md: (font-size: 1.8rem, line-height: 1.55),
    ),
    body: (
        d: (font-size: 1.5rem, line-height: 1.6),
    ),
    label: (
        d: (font-size: 1.1rem, line-height: 1.2),
    ),
    th: (
        d: (font-size: 1.5rem, line-height: 1.2),
    ),
    td: (
        d: (font-size: 1.3rem, line-height: 1.85),
    )
);
