.facilities {
    $path: #{map-get($paths, 'img')};

    &__header {
        padding-top: 0;
    }

    &__list {
        width: 100%;
        max-width: 600px;
        text-align: left;
    }

    p {
        font-family: $heading;
    }

    &__byline {
        display: block;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 4px;
        padding-left: 1vw;
        font-size: 2rem;

        &:before {
            content: '';
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-right: 5px;
            background-repeat: no-repeat;
            background-position: left 26px top;
            background-size: 34px;
            background-position: left 0 top 2px;
        }

        @include media(lg) {
            font-size: 2.2rem;
        }

        &--cup:before {
            background-image: url('#{$path}/icon-cup.svg');
        }

        &--laundry:before {
            background-image: url('#{$path}/icon-laundry.svg');
        }

        &--towel:before {
            background-image: url('#{$path}/icon-towel.svg');
        }

        &--shower:before {
            background-image: url('#{$path}/icon-shower.svg');
        }

        &--wifi:before {
            background-image: url('#{$path}/icon-wifi.svg');
        }

        &--lock:before {
            background-image: url('#{$path}/icon-lock.svg');
        }

        &--cleaning:before {
            background-image: url('#{$path}/icon-cleaning.svg');
        }

    }

    @include media(sm) {
        &__item {
            float: left;
            width: 50%;
        }

    }

    @include media(md) {

        &__main {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &__item {
            width: 50%;
            min-height: 50px;
            padding-top: 4px;
            padding-left: 0;
            background-position: left 20px top 2px;
        }

        &__list {
            width: calc(50% - (30px - 30px * 0.5));
        }

        &__slideshow {
            width: 40%;
        }
    }
}
