.NavMain {
    $root: &;
    display: none;
    padding-top: 5px;

    &__Item {
        float: left;
        margin-left: 15px;

        &:first-child {
            margin-left: 0px;
        }

        @include media(lg) {
            margin-left: 20px;
        }
    }

    &__ItemLink {
        display: block;
        font-size: 1.4rem;
        color: black;
        letter-spacing: 0.8px;
        font-weight: bold;
        padding: 5px 0;
        border-bottom: 2px solid white;
        position: relative;
        text-decoration: none;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.2s ease-in-out 0s;
        }

        #{$root}__Item--Active &:before,
        &:hover:before {
            visibility: visible;
            transform: scaleX(1);

        }

        @include media(lg) {
            font-size: 1.6rem;
        }
    }

    &__List {
        margin-left: 20px;
    }

    @include media(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    @include media(lg) {
        padding-top: 3px;
    }
}