.Hero {
    position: relative;
    
    &__Title {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 6.4rem;
        font-family: $heading;
        font-weight: 700;
        transform: translate(-50%, -50%);
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    }
}
