.accommodation {
    $path: #{map-get($paths, 'img')};

    padding-bottom: 40px;

    &__container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    &__preamble {
        text-align: left;
    }

    &__item {
        width: 100%;
        padding-bottom: 20px;
        background-color: palette(white);
    }

    &__header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__image-container {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__price {
        position: absolute;
        bottom: 20px;
        right: 0;
        padding: 6px 10px 4px 14px;
        color: palette(white);
        background-color: palette(black, trans);
    }

    &__title-container {
        display: flex;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 0;
        line-height: 1;
    }

    &__pers {
        padding-top: 8px;
        background-repeat: no-repeat;
        background-position: bottom 3px left;
        background-size: 35px;
        font-family: $heading;
        font-size: 2rem;
        font-weight: 400;
        color: #848484;

        &--one {
            padding-left: 33px;
            background-image: url('#{$path}/icon-one-pers.svg');
        }

        &--two {
            padding-left: 45px;
            background-image: url('#{$path}/icon-two-pers.svg');
        }
    }

    &__text {
        line-height: 1.15;
    }

    @include media(md) {


        &__item {
            // width: 50%;
            @include grid(.5, lg);
            padding-bottom: 20px;
        }
    }

    @include media(lg) {

        &__container {
            
            
        }

        &__section-title {
            //margin-bottom: 70px;
        }

        &__header {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}
