.Header {
    display: flex;
    width: 100%;
    font-family: $heading;
    font-weight: 500;
    z-index: $z-index--header;

    &__Container {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        width: 100%;

        max-width: map-get($maxwidths, site);

        @include media(md) {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        @include media(lg) {
            align-items: center;
            display: flex;
        }
    }

    &__Logo {
        font-size: 1.8rem;
        color: palette(black, 80);
        text-decoration: none;
        
        @include media(md) {
            font-size: 2.2rem;
        }
    }

    &__Menu {
        display: flex;
        align-items: baseline;
    }

    &__MenuLink {
        color: black;
        text-decoration: none;
    }

    &__Lang {
        font-size: 1.8rem;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
