.Intro {

    &__Preamble {
        max-width: 580px;
        text-align: left;
    }

    @include media(md) {
        &__Preamble {
            line-height: 1.6;
        }
    }

    @include media(md) {
        &__Header {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &__Billboard {
        position: relative;

        @include media(lg) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    @include media(lg) {
    
        &__Image {
            width: 57%;
            height: 100%;
        }

        &__Image-2 {
            display: block;
            width: 43%;
            background: url('../assets/images/cykel.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    
}
