.Intro {
    background-color: $gray;

    &__Container {
        max-width: (map-get($maxwidths, intro));
        margin-left: auto;
        margin-right: auto;
        padding-top: 32px;
        padding-bottom: 32px;
        text-align: center;

        @include media(md) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
        @include media(xl) {
            padding-top: 96px;
            padding-bottom: 96px;
        }
    }

    &__Icon {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__Text {
        @include u-text(intro);
    }

    @include media(md) {
        &__Preamble {
            line-height: 1.6;
        }
    }

    @include media(md) {
        &__Header {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
    
}
